<h1>Welcome, {{this.name}}</h1>
<div class="buttons">
    <a href="/about" class="btn btn-primary mt-3">About</a>
    <a href="/works" class="btn btn-primary mt-3">Works </a>
    <a href="/gallery" class="btn btn-primary mt-3">Photo Gallerys </a>
</div>